<!DOCTYPE html>
<html lang="en">
  <!-- Navigation Bar--------------------------------------------------------- -->
  <head>
    <title>Investment Analysis</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      media="screen"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <nav class="navbar navbar-inverse"

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./">Investment Analysis</a>

      </div>
      <ul class="nav navbar-nav navbar-right">
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="./">Landing Page</a></li>
            <li class="dropdown">
              <a
                class="dropdown-toggle"
                data-toggle="dropdown"
                href="./index.html"
                >Plots<span class="caret"></span
              ></a>
              <ul class="dropdown-menu">
                <li><a href="{{url_for('bitcoin')}}">Bitcoin Indexes</a></li>
                <li><a href="{{url_for('etherium')}}">Etherium Indexes</a></li>
                <li><a href="{{url_for('litecoin')}}">Litecoin Indexes</a></li>
              </ul>
          </ul>
        </div>
      </ul>
  </div>
</nav>

  <!-- Body-------------------------------------------------------------------- -->
  <body>
    <div class="container">
      <section class="row">
        <div class="col-md-8">
          <article class="description-content">
            <h1 class="description-header">Summary: Investment Instruments</h1>
            <hr class="description-hr" />
            <img
              src="static/image/3_yr_compare.png"
              alt="3 year comparison bitcoin to indexes"
              id="desription-static/image"
              style="
                float: left;
                width: 240px;
                height: 160px;
                padding-right: 10px;
                display: block;
              "
            />
            <p>
            Investing in the stock market is a very good way to create wealth 
            and insure  that you and your family are provided for. There are 
            some general rules for investing that are always good to remember. 
            But there are risks and rewards for investing. Different investors 
            have different levels of tolerance for that risk. Generally, there 
            are investors and traders. An investor generally take a longer term 
            view for their investments. An investor will buy a stock based on 
            the fundamental value of the company or commodity. They tend to buy 
            a stock and hold onto it for a longer term. A trader on the other 
            hand will buy a stock based on technical analysis. They could make 
            tend multiple trades in a day. This type of analysis looks at the 
            trading trends for the stock or commodity. Each of these methods 
            has risks and rewards associated with it and easch trading method 
            has greater or lesser risk.   
            </p>
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum consectetur adipiscing
              elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum consectetur adipiscing
              elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </article>
        </div>
        <!-- --Visualization Side Bar ------------------------------------------------------------------------------ -->
        <!-- ---------------------------------------------------- -->
        <div class="container-fluid bs-docs-grid">
          <div class="row show-grid">
            <div class="col-md-4">
              <style>
                h2 {
                  text-align: center;
                }
              </style>
              <h2 class="description-header">visualizations</h2>
              <div class="row show-grid">
                <div class="col-md-12">
                  <a href="{{url_for('bitcoin')}}">
                    <img
                      src="static/image/Bitcoin_logo.svg"
                      style="width: 100%;"
                  /></a>
                </div>
                <div class="col-md-12">
                  <a href="{{url_for('etherium')}}">
                    <img
                      src="static/image/Ethereum-icon-purple.svg"
                      style="width: 100%;"
                  /></a>
                </div>
                <div class="col-md-12">
                  <a href="{{url_for('litecoin')}}"">
                    <img
                      src="static/image/6_Full_Logo_S-2.png"
                      style="width: 100%;"
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ----End Side Bar------------------------------------------------------- -->
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"></script>
  </body>
</html>
